header{

    height: 80px;
    /* width: 100px; */
    display: flex;
    flex-direction: row;
    opacity: 1;
    background: #ffffff 0% 0% no-repeat padding-box;
    
}
#menubar{
top: 34px;
left: 29px;
width: 30px;
height: 30px;
/* background: #000000 0% 0% no-repeat padding-box; */
margin-left: 15;
margin-top: 15px;
opacity: 1;


}
#logo{
    top: 25px;
left: 72px;
width: 142px;
height: 30px;
margin-top: 15px;
margin-left: 25px;

opacity: 1;

/* padding-left: 25px; */
/* position: relative; */

}
#search{
    top: 32px;
left: 291px;
width: 16px;
height: 16px;
/* UI Properties */
/* background: #000000 0% 0% no-repeat padding-box; */
opacity: 1;
margin-top: 21px;
margin-left: 77px;
}
#searchbox{
    text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #0c0000;
opacity: 1;
width: 800px;
height: 21px;
margin-top: 18px;
margin-left: 15px;
border: 0px;
}
#sideheader{
    display:flex;
    flex-direction:row;
    margin-left:253px;
}
#notification{
width: 22px;
height: 22px;
margin-top: 15px;   


}
#profile{
    height: 35px;
    width: 35px;
    margin-top:10px;
    margin-left:40px;

}
#aerrow{height:15px;
    width:15px;
    margin-top:18px;


}
span {
    height: 21px;
    width: 68px;
    margin-top:15px;
    font-size:16px;
    margin-left:10px;
}
#A{
    top: 80px;
left: 0px;
width: 242px;
height: 1890px;
opacity: 1;
display: flex;
flex-direction: column;
background: #FFFFFF 0% 0% no-repeat padding-box;
float: left;

}
.B{
    display: flex;
    flex-direction: row;
    width: 183px;
height: 43px;
}
.image{width: 15px;
    height: 15px;
    margin-left: 53px;
    margin-top: 18px;
}
.text{
    border: 0px;
    margin-left: 13px;
    margin-top: 14px;
    font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-family: roboto;

}
.c{
width: 183px;
height: 43px;
display: flex;
flex-direction: row;
background: #FFF3F4 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
margin-left: 30px;
margin-top: 25px;
}
.text1{
border: 0px;
width: 78px;
margin-left: 9px;margin-top: 13px;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
background-color:#FFF3F4 ;
color:#C8242F;
opacity: 1;
font-family: roboto;
}
.image1{
    background-color:#FFF3F4 ;
    width: 15px;
    height: 15px;
    margin-left: 25px;
    margin-top: 17px;
}
body{
    font-family: roboto;
    top: 0px;
left: 0px;
width: 1560px;
height: 1359px;
/* UI Properties */
background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;
}
.innerdashboard{
    float: left ;
    display: flex;
    flex-direction: column;
    width: 1318px;   
}
h1{
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 40px;
margin-left: 48px;
font-size: 30px;}
.div1{
    display: flex;
    flex-direction: row;
}

.div11{
    display: flex;
    flex-direction: row;
    width: 204px;
height: 116px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
margin-left: 50px;
margin-top: 22px;
}
.img11{
    width: 33px;
height: 33px;
margin-top: 42px;
margin-left: 18px;

opacity: 1;
}
.digit1{width: 77px;
    height: 33px;
    font-size: 25px;
    margin-top: 31.04px;
    margin-left: 17px;
}
.text2{width: 94px;
    height: 20px;
    margin-top: -27px;
    margin-left: 7px;
}
.div2{
    display: flex;
    flex-direction: row;
}
.div21{width: 802px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
margin-top: 30px;
margin-left: 50px;
}
.div22{width: 385px;
    height: 398px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-top: 30px;
margin-left: 30px;
}
.datagraph{
    display: flex;
    flex-direction: row;
margin-left: 29px;}
.Monthly{
    margin-top: 23px;
    margin-left:20px;
    text-decoration: none;}
.yearly{
    margin-top: 23px;
    margin-left:20px;
    color: #C8242F;
    text-decoration:underline ;}
.datagraph h2{
    margin-right:508px}
.dot1{width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #C8242F 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-left: 49px;
}
.dot2{width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #A2B86C 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-left: 34px;
}
.dot3{width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #F16C20 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-left: 49px;
}
.dot4{width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #EBC844 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-left: 147px;
}
.div22 h2{
    margin-top: 22px;
    margin-left: 29px;
}
.piechart{
    margin-top: -17px;
    margin-left: 59px;
}
p1  {
    margin-left: 12px;
    margin-top: 74px;
    bottom: 5px;
    position: relative;
}
div221{
    display: flex;
    flex-direction: row;
}
.div3{top: 758px;
    left: 292px;
    width: 1217px;
    height: 558px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-top: 30px;
    margin-left: 50px;

}
.div31{
    display: flex;
    flex-direction: row;
   
}
.div3 h2{
    margin-top: 22px;
    margin-left: 29px;
    margin-right: 1034px;
    font-size: 22px;
    width: 82px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.div31 p{
   
    text-decoration: underline;
    font-size: 12px;
    margin-top: 27px;
    width: 43px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1
}
.tab{
    margin-top: -17px;
    margin-left: 7px;
    border-spacing: 20px;
   
    
}
.col{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
    opacity: 1;
font-size: 15px;

}
.paid{width: 50px;
    height: 26px;
    
    background: #EBFFEF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
   
    text-align: center;
    
    letter-spacing: 0px;
    color: #3CDD5F;
    opacity: 1;
    

}
.failed{width: 60px;
    height: 26px;
    /* UI Properties */
    background: #FFF5F5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #FF4545;
opacity: 1;

}
.pending{
    width: 75px;
height: 26px;
/* UI Properties */
background:#F8F8F8 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
text-align: center;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #BABABA;
opacity: 1;

}
th, td{
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid #E9E9E9    ;
    
    padding-left: 25px;

}
tr{
    
}

